body {
  height: 100%;
  width: 100%;
  margin: 0 0;
  padding: 0px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #003366;
}

.appdiv {
	height: 100%;	
	width: 100%;
	padding: 0px;
}

.mainmenu ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

.mainmenu li { display: inline; }

.mainmenu li
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

.mainmenu li:hover
{
color: #fff;
background-color: #369;
}

.maindiv {
    position: relative;
}

.panel {
    position: relative;
    padding: 10px;
}

.titlebar {
    height: 40px;
    position: relative;
    line-height: 40px;
    text-align: center;
    border: 0px outset #c0c0c0;
    color: #fff;
}

.controlbar {
    position: relative;
    border: 0px outset #c0c0c0;
}

.inputform {
    width: 100%;
    position: relative;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.inputfield {
    display: block;
    width: 99%;
}

.inputlabel {
    color: #fff;
}
 
.inputbutton {
  background: #a6b2ba;
  background-image: -webkit-linear-gradient(top, #a6b2ba, #889399);
  background-image: -moz-linear-gradient(top, #a6b2ba, #889399);
  background-image: -ms-linear-gradient(top, #a6b2ba, #889399);
  background-image: -o-linear-gradient(top, #a6b2ba, #889399);
  background-image: linear-gradient(to bottom, #a6b2ba, #889399);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.inputbutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}